# Dependencies
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.venv/
env.bak/
venv.bak/
.pytest_cache/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.egg-info/
.sdist/
.wheel/
.lck

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
.Origin/

# directory
f1_cache/
/docs

# Tests
tests/

# Environment Variables & Secrets
.env
.streamlit/secrets.toml
*.sqlite